.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 16px;
  background: var(--bg-gradient);
}

.auth-form {
  max-width: 400px;
  width: 100%;
  padding: 30px;
  background-color: var(--bg-card);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.auth-title {
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-color);
}

.auth-input {
  margin-bottom: 20px;
}

.auth-button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(45deg, #673ab7, #9c27b0);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.auth-button:hover {
  background: linear-gradient(45deg, #5e35b1, #8e24aa);
}

.auth-link {
  display: block;
  text-align: right;
  color: #9c27b0;
  text-decoration: none;
  margin-bottom: 10px;
}

.auth-link:hover {
  text-decoration: underline;
}

.auth-footer {
  text-align: center;
  margin-top: 20px;
  color: var(--text-color);
}

.auth-footer a {
  color: #9c27b0;
  text-decoration: none;
}

.auth-footer a:hover {
  text-decoration: underline;
}
